body{
  background-color: black;
}
.soft{
margin-top:30px;
color: white;
font-size: 75px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
text-shadow: 2px 2px rgb(134, 14, 14);
line-height: 0px;

}
.ware{
margin-top: 30px;
color:white;
font-size: 75px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-shadow: 2px 2px rgb(134, 14, 14);
}
.house{
margin-top:10px;
color: rgb(134, 14, 14);
font-size: 75px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
text-shadow: 2px 2px rgb(255, 255, 255);
line-height: 0px;
}
.subtitle{
  color: white;
  font-size: 25px;
  font-style: italic;
  font-family: inherit;
  text-shadow: 1px 1px 1px rgb(134, 14, 14);
  padding-left: 10px;
  
}

ul {
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(33, 150, 243);
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(8, 47, 105);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(8, 47, 105);
}

.active {
  background-color:rgb(14, 108, 185);
}
.active:hover{
  background-color:rgb(8,47,105);
}

a{
  text-decoration: none;
  color: rgb(8, 47, 105);
}
a:hover{
  color: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;

}

/* Create three unequal columns that floats next to each other */
.column {
  border:none;
  text-align: center;
  border-radius: 20px;
  float: left;
  height: 300px;
 
}

.left, .right {
width: 25%;
 white-space: 10px;
}

.middle {
width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  align-self: center;
  display: grid;
  grid-template-columns:700px 700px;
  background-color: black;
  grid-gap: 10px;
}
.grid-item {
  border-radius: 10px;
  background-color: rgb(138, 133, 133);
  padding: 10px;
  white-space: 3px;
}
.grid-item .game{
  padding: 5px;
  border:1px solid black;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  float: left;
  background-color: black;
}
.horizonline{
  height: 3px;
  background-color: white;
}
.free{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
  white-space: 3px;

}

